@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&family=Cinzel:wght@400;600;700&family=Uncial+Antiqua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
@import "tailwindcss";

#root {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
}

.font-gothic {
  font-family: 'MedievalSharp', 'Cinzel', 'Uncial Antiqua', serif;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.font-pirata {
  font-family: 'Pirata One', system-ui;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #b9d4f0; /* text color */
}

.section-title::before,
.section-title::after {
  content: "";
  flex: 1;
  height: 10px;
  background: linear-gradient(
    to right,
    #de87b4,
    #de87b4
  );
  border-radius: 3px;
}

.section-title::before {
  margin-right: 0.5rem;
}

.section-title::after {
  margin-left: 0.5rem;
}

